html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family:'Raleway',sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

body, html {
  margin: 0; 
  padding: 0;
  height: 100vh;
  background-image:linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(255, 20, 145, 0.664)),
    url("../img/nolimits.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav

.hero {
}

.hero-cta {
  /* border: 1px solid blue;  */
  width: 55%; 
  font-size: 5rem;
  position: absolute;
  left: 10%;
  top: 21%; 
  color: #F3EBF2;
}

/* .cta-button {
  position: absolute;
  left: 20%;
  top: 50%;
} */

nav {
  position:absolute;
  bottom:0;
  width:100%;
}


.nav{
  display: flex;
  justify-content: center; 
  /* border: 1px solid palegreen;   */
}

.nav li {
  list-style-type: none; 
  /* border: 1px solid white;  */
  padding: 1% 3.5% 1% 3.5%;

}

.nav li a {
  /* border: 1px solid blue; */
  width: 24%;
  text-decoration: none;
  color: rgb(105, 103, 103);
  font-size: 1.2rem; 
  font-weight: lighter; 
}

.nav a:hover {
  color: #F156A8;
  font-weight: bolder; 
}



/*Contact US PAGE */

.contact {
  position: absolute; 
  top: 5%; 
  left: 25%; 
  width: 52%;
}

.contact-container {
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0);
  padding: 20px;
  margin: 3%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 2%;
  border: 1px solid white;
  border-radius: 10px 0px;
  box-sizing: border-box;
  margin-top: 1%;
  margin-bottom: 3%;
  resize: vertical;
  outline: transparent;
  background-color: rgba(194, 194, 194, 0.233); 
}

input[type=submit] {
  
  background-color: rgba(0, 0, 0, 0.301);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0px 10px;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}

input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 0.664);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out
    
}

